*{
  margin:0;
  border:0;
}
.input{
  border:1px solid black;
  height:2rem;
  width:10rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-size:1.5rem;
  font-weight: 500;
  margin:5rem 5rem;
}